<br />

<div class="booyah-box col-10 offset-1">
  <h1>Careers</h1>
  <p>
    Sorry, we arent hiring right now as I barely have enough money to keep myself afloat, much less hire anyone on to administrate or moderate a website that has no active userbase.
  </p>
</div>