<br />

<div class="booyah-box col-10 offset-1">
  <h1>Team</h1>
  <p>
    This website was developed be me, Brendan Hynes, with significant help and guidance from the Coding Bootcamp course offered by The University of Arizona: Continuing and Professional Edication department.
  </p>
  <p>
    I'd also like to thank the TA's of the course that provided valuable debugging support and my mentor Bart Dorsey who provided a great deal of various support along the way. The image and video uploads especially would not have been possible without their technical support.
  </p>
</div>